:root {
  --gren-gray-scale-900: #002603;
  --gren-gray-scale-800: #173b1a;
  --gren-gray-scale-700: #2b572e;
  --gren-gray-scale-600: #406b42;
  --gren-gray-scale-500: #618062;
  --gren-gray-scale-400: #7a997c;
  --gren-gray-scale-300: #96b297;
  --gren-gray-scale-200: #b4ccb4;
  --gren-gray-scale-100: #dae5da;
  --gren-gray-scale-50: #edf2ee;
  --gray-scale-gray--900: #1a1a1a;
  --gray-scale-gray--800: #333;
  --gray-scale-gray--700: #4d4d4d;
  --gray-scale-gray--600: #666;
  --gray-scale-gray--500: #808080;
  --gray-scale-gray--400: #999;
  --gray-scale-gray--300: #b3b3b3;
  --gray-scale-gray--200: #ccc;
  --gray-scale-gray--100: #e6e6e6;
  --gray-scale-gray--50: #f2f2f2;
  --gray-scale-white: #fff;
  --branding-success-bright: #84d187;
  --branding-success: #00b207;
  --branding-success-dark: #2c742f;
  --branding-warning: #ff8a00;
  --branding-error: #ea4b48;
  --font-family: "Poppins", sans-serif;
  --second-family: "Segoe Script", sans-serif;
  --third-family: "Dancing Script", sans-serif;
}

body {
  font-family: var(--font-family);
}
/* =============== HEADER START ====================*/
#header {
  background-color: var(--gray-scale-gray--800);
  color: var(--gray-scale-white);
  padding: 12px 0;
}
#header span:first-child {
  line-height: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#header .location,
#header .sign_in {
  display: inline-flex;
  width: 50%;
  gap: 8px;
}
#header span:last-child {
  display: inline-flex;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: var(--gray-scale-gray--300);
}
#header .sign_in {
  display: flex;
  gap: 40px;
  justify-content: end;
  font-size: 12px;
}
#header .sign_in select {
  background-color: transparent;
  color: var(--gray-scale-white);
  border: none;
  outline: none;
  color: var(--gray-scale-gray--300);
}
#header .sign_in select option {
  background-color: var(--gray-scale-gray--800);
  color: var(--gray-scale-white);
}
#header .sign_in div:first-child {
  display: flex;
  gap: 5px;
}
#header .sign_in div:last-child {
  line-height: 2;
}
#header .sign_in div:last-child a {
  color: var(--gray-scale-white);
  text-decoration: none;
  color: var(--gray-scale-gray--300);
}
/* =============== HEADER END ======================*/
