:root {
  --gren-gray-scale-900: #002603;
  --gren-gray-scale-800: #173b1a;
  --gren-gray-scale-700: #2b572e;
  --gren-gray-scale-600: #406b42;
  --gren-gray-scale-500: #618062;
  --gren-gray-scale-400: #7a997c;
  --gren-gray-scale-300: #96b297;
  --gren-gray-scale-200: #b4ccb4;
  --gren-gray-scale-100: #dae5da;
  --gren-gray-scale-50: #edf2ee;
  --gray-scale-gray--900: #1a1a1a;
  --gray-scale-gray--800: #333;
  --gray-scale-gray--700: #4d4d4d;
  --gray-scale-gray--600: #666;
  --gray-scale-gray--500: #808080;
  --gray-scale-gray--400: #999;
  --gray-scale-gray--300: #b3b3b3;
  --gray-scale-gray--200: #ccc;
  --gray-scale-gray--100: #e6e6e6;
  --gray-scale-gray--50: #f2f2f2;
  --gray-scale-white: #fff;
  --branding-success-bright: #84d187;
  --branding-success: #00b207;
  --branding-success-dark: #2c742f;
  --branding-warning: #ff8a00;
  --branding-error: #ea4b48;
  --font-family: "Poppins", sans-serif;
  --second-family: "Segoe Script", sans-serif;
  --third-family: "Dancing Script", sans-serif;
}

iconify-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

body {
  font-family: var(--font-family);
}

/* =============== HEADER START ====================*/
#header {
  background-color: var(--gray-scale-gray--800);
  color: var(--gray-scale-white);
  padding: 12px 0;
}

#header span:first-child {
  line-height: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#header .location,
#header .sign_in {
  display: inline-flex;
  width: 50%;
  gap: 8px;
}

#header span:last-child {
  display: inline-flex;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: var(--gray-scale-gray--300);
}

#header .sign_in {
  display: flex;
  gap: 40px;
  justify-content: end;
  font-size: 12px;
}

#header .sign_in select {
  background-color: transparent;
  color: var(--gray-scale-white);
  border: none;
  outline: none;
  color: var(--gray-scale-gray--300);
}

#header .sign_in select option {
  background-color: var(--gray-scale-gray--800);
  color: var(--gray-scale-white);
}

#header .sign_in div:first-child {
  display: flex;
  gap: 5px;
}

#header .sign_in div:last-child {
  line-height: 2;
}

#header .sign_in div:last-child a {
  color: var(--gray-scale-white);
  text-decoration: none;
  color: var(--gray-scale-gray--300);
}

/* =============== HEADER END ======================*/

/* =============== nav_headerIGATION START ====================*/

#nav_header form input {
  padding: 12px 44px;
  outline: none;
  border: 1px solid var(--gray-scale-gray--200);
  border-radius: 6px 0 0 6px;
  width: 400px !important;
}

#nav_header form {
  position: relative;
  display: flex;
}

#nav_header form span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
  color: #000000;
}

#nav_header form button {
  background-color: var(--branding-success);
  color: var(--gray-scale-white);
  border: none;
  padding: 14px 24px;
  border-radius: 0 6px 6px 0;
  width: 100px !important;
}

#nav_header .search_box {
  /* background-color: var(--gray-scale-gray--100); */
  display: flex;
  justify-content: center;
}

#nav_header .cart_parent {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

#nav_header .cart_child_parent {
  display: flex;
  align-items: center;
  gap: 12px;
}

#nav_header .cart_parent span {
  line-height: 0;
  display: inline-flex;
  align-items: center;
}

#nav_header .second span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  color: var(--gray-scale-gray--700);
}

#nav_header .second p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--gray-scale-gray--900);
}

#nav_header .cart_child_parent .cart {
  position: relative;
}

#nav_header .cart_child_parent small {
  background-color: #00b207;
  height: 18px;
  width: 18px;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1px;
  right: -3px;
}

#nav_header .first {
  position: relative;
}

#nav_header .first::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #00260354;
  right: -10px;
}

nav {
  background: var(--gray-scale-gray--50) !important;
  padding: 0 !important;
}

nav .nav_dropdown {
  background-color: var(--branding-success) !important;
  border-radius: 0;
  border: none;
  padding: 14px 24px;
  display: inline-block;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

nav .parent_dropdown {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-scale-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}



.parent_dropdown.dropdown-toggle::after {
  display: none;
}

nav .parent_dropdown_list {
  width: 100%;
  border-radius: 0;
  margin: 0 !important;
  padding: 0 !important;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

nav .parent_dropdown_list li {
  padding: 3px 0;
}

nav .middle_menu {
  margin-left: 32px;
  display: flex;
  align-items: center;
}

nav .middle_menu li:first-child a {
  background-color: transparent;
  border: none;
  font-family: var(--font-family);
}

nav .middle_menu li a {
  color: var(--gray-scale-gray--500);

}

nav .middle_menu li:first-child a:focus {
  color: var(--gray-scale-gray--500);
}

nav .nav_phone {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

nav .nav_phone a {
  text-decoration: none;
  color: #000000;
}

/* =============== nav_headerIGATION END ======================*/

/* =================== SEARCH START ============== */
#search-bar {
  backdrop-filter: blur(6px);
  height: 100vh;
  position: fixed;
  top: 126px;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

#search-bar.search_active {
  visibility: visible;
  opacity: 1;
}

#search-bar a {
  text-decoration: none;
}

#search-bar .search_card {
  padding: 12px 24px;
  background-color: white;
  box-shadow: rgba(11, 201, 46, 0.168) 0px 3px 8px, rgba(11, 201, 46, 0.168) 0px -3px 8px;
  border-radius: 5px;

}

#search-bar .search_card img {
  width: 100%;
  object-fit: cover;
}

#search-bar .search_card h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--gray-scale-gray--900);
  text-decoration: none;
  text-transform: capitalize;
  color: var(--branding-success);
}

#search-bar .search_card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-gray--700);
  margin-bottom: 5px;
}

#search-bar .search_card b {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-gray--900);
}

/* =================== SEARCH END ============== */


/* =============== CSS HERO START ====================*/
#hero .hero_content p:first-child {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--branding-success);

}

#hero .hero_content p:last-child {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
}

#hero .hero_content h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  color: var(--gren-gray-scale-900);
}

#hero .hero_content a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--gray-scale-white);
  background-color: var(--branding-success);
  padding: 14px 24px;
  display: inline-block;
  text-decoration: none;
  border-radius: 43px;
  line-height: 0;
}

#hero .slick-dots{
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 5px;
}
#hero .slick-dots button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--gray-scale-gray--300);
  border: none;
  color: transparent;
}
#hero .slick-active button{
  width: 20px;
  border-radius: 12px;
  background-color: var(--branding-success);
}
#hero .hero_prev{
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 55;
  cursor: pointer;
  outline: 1px solid var(--gray-scale-gray--300);
  color: #00b207;
}
/* =============== CSS HERO END ======================*/